@font-face {
  font-family: 'ubuntu-bold';
  src: url(../ubuntu/Ubuntu-Bold.ttf);
}

*{
  font-family: ubuntu-bold;
  border: 0;
  padding: 0;
}

#background-video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.page-body {
  position: fixed;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
