@font-face {
  font-family: 'ubuntu-bold';
  src: url(../assets/fonts/Ubuntu-Bold.ttf);
  src: url(../assets/fonts/Ubuntu-Medium.ttf);
  src: url(../assets/fonts/Ubuntu-Regular.ttf);
}

*{
  font-family: ubuntu-bold;
  border: 0;
  padding: 0;
}

body{
  
}

.main-page{

}

#background-video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}